version: '2'
services:
  web:
    build: .
    environment:
      VIRTUAL_HOST: seaknot.dev
      LETSENCRYPT_HOST: seaknot.dev
      LETSENCRYPT_EMAIL: toru-letsencrypt@torus.jp
      NODEMON:
      SLEEPTIME: 60
    expose:
    - "2222"
    volumes:
    - .:/code
    - logvolume01:/var/log

networks:
   default:
      external:
         name: nginx-proxy_default

volumes:
  logvolume01: {}
